
.dataStudentCont{
	margin:100px;
	width: 1000px;
	padding: 15px;
	box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);

}
.infCont1 {
	background: white;
	position: relative;
    left: 5px;

}
.infCont2{
	background: red;
}
.infCont3{
	background: white;
}